#col-1 {
    position: relative;
    width: 35%;
    float: left;
    height: 100%;
    /* background-color: #282828; */
    /* z-index: 1; */
  }
  
  #col-2 {
    position: relative;
    width: 65%;
    float: left;
    height: 100%;
    /* background-color: #0080ff; */
    z-index: 1;
  }

